<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="bg-warning text-light">Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="GetToken();">
        <a mat-list-item routerLink="cliente"><i class="fa fa-user"></i> Cliente</a>
        <a mat-list-item routerLink="factura"><i class="fa fa-file-text"></i> Factura</a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>facturas</span>
      <ng-container *ngIf="GetToken();">
        <div class="ml-auto">
          <mat-card-actions>
            <button mat-raised-button (click)="Logout()" class="btn-warning btn-block" type="submit">CERRAR SESION</button>
          </mat-card-actions>
        </div>
      </ng-container>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
