<form [formGroup]="Forms" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title class="text-warning">Compras <i class="fa fa-shopping-cart"></i></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="!this.eliminar; else elseTemplate1">
        <div class="row">
          <div class="col">
           <div class="row">
             <div class="col">
              <mat-form-field>
                <input matInput placeholder="Id Proveedor" formControlName="id_proveedor">
              </mat-form-field>
             </div>
           </div>

            <div class="row">
              <div class="col">
                <mat-card-actions>
                  <button mat-raised-button color="primary" class="btn-block" (click)="OnBuscarProveedor()" type="button">Buscar</button>
                </mat-card-actions>
              </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  <ng-container *ngIf="OnValidarProveedor();">
                    <strong>{{proveedorvalores.proveedor}}</strong>
                  </ng-container>
                </div>
              </div>

          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <input matInput placeholder="Id Articulo" formControlName="id_articulo">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <mat-card-actions>
                  <button mat-raised-button color="primary" class="btn-block" (click)="OnBuscarArticulo()" type="button">Buscar</button>
                </mat-card-actions>
              </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  <ng-container *ngIf="OnValidarArticulo();">
                    <strong>{{articulovalores.articulo}}</strong>
                  </ng-container>
                </div>
              </div>

          </div>
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Cantidad" formControlName="cantidad">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Precio" formControlName="precio">
            </mat-form-field>
          </div>
        </div>
      </ng-container>
      <ng-template #elseTemplate1>
        <div class="row text-center">
          <div class="col">
            <strong>
              {{mensajeEliminar}}
            </strong>

          </div>
        </div>
      </ng-template>


    </mat-card-content>
    <ng-container *ngIf="this.cancelar; else elseTemplate">
      <div class="row">
        <div class="col-sm 6">
          <mat-card-actions>
            <button mat-raised-button color="primary" class="btn-block" type="submit">{{mensaje}}</button>
          </mat-card-actions>
        </div>
        <div class="col-sm-6">
          <mat-card-actions>
            <button mat-raised-button color="primary" class="btn-block" (click)="OnCancelar()" type="button">CANCELAR</button>
          </mat-card-actions>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="row">
        <div class="col-sm-12">
          <mat-card-actions>
            <button mat-raised-button color="primary" class="btn-block" type="submit">{{mensaje}}</button>
          </mat-card-actions>
        </div>
      </div>
    </ng-template>

    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>{{meessage}}</h1>
      </div>
    </div>
  </mat-card>
</form>
<br>
<ng-container *ngIf="OnCargar(); else elseTemplate2">
  <div class="mat-elevation-z8">
    <table mat-table class="full-width-table"  [dataSource]="dataSource" matSort aria-label="Elements">

      <ng-container matColumnDef="id_compra">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id_compra}}</td>
      </ng-container>

      <ng-container matColumnDef="proveedor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</th>
        <td mat-cell *matCellDef="let row">{{row.proveedor}}</td>
      </ng-container>

      <ng-container matColumnDef="articulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Articulo</th>
        <td mat-cell *matCellDef="let row">{{row.articulo}}</td>
      </ng-container>

      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
        <td mat-cell *matCellDef="let row">{{row.cantidad}}</td>
      </ng-container>

      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
        <td mat-cell *matCellDef="let row">{{row.precio}}</td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let row">{{row.total}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</ng-container>
<ng-template #elseTemplate2>
  <div class="row">
    <div class="col-sm-12">
      <center>
        <mat-spinner></mat-spinner>
      </center>
    </div>
  </div>
</ng-template>

