<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="bg-warning text-light" >Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="GetToken();">
        <a mat-list-item routerLink='tipoproducto'><i class="fa fa-archive"></i> Tipo Producto </a>
        <a mat-list-item routerLink="tienda"><i class="fa fa-building"></i> Tiendas</a>
        <a mat-list-item routerLink="inventario"><i class="fa fa-file-text"></i> Inventario</a>
        <a mat-list-item routerLink="descripcion"><i class="fa fa-edit"></i> Descripcion</a>
        <a mat-list-item routerLink="compra"><i class="fa fa-shopping-cart"></i> Compras</a>
        <a mat-list-item routerLink="proveedor"><i class="fa fa-handshake-o"></i> Proveedor</a>
        <a mat-list-item routerLink="rol"><i class="fa fa-users"></i> Roles</a>
        <a mat-list-item routerLink="ibeacoins"><i class="fa fa-bluetooth"></i> Ibeacoins</a>
        <a mat-list-item routerLink="display"><i class="fa fa-cart-plus "></i> Asig Ibeacoins a Tipo Producto</a>
        <a mat-list-item routerLink="persona"><i class="fa fa-child"></i> Persona</a>
        <a mat-list-item routerLink="cliente"><i class="fa fa-user"></i> Cliente </a>
        <a mat-list-item routerLink="usuario"><i class="fa fa-vcard"></i> Usuario</a>
        <a mat-list-item routerLink="asignacion"><i class="fa fa-user-plus"></i> Asigancion de Usuario a Tienda</a>
        <a mat-list-item routerLink="horario"><i class="fa fa-calendar-check-o"></i> Horario</a>
      </ng-container>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>admin</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
