<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="GetToken();">
        <a mat-list-item routerLink='tipoproducto'><div class="row"><div class="col-2"><i class="fa fa-archive"></i></div><div class="col-9">Tipo Producto</div></div></a>
        <a mat-list-item routerLink="tienda">  <div class="row"><div class="col-3"><i class="fa fa-building"></i></div><div class="col-9">Tiendas</div></div> </a>
        <a mat-list-item routerLink="inventario">  <div class="row"><div class="col-3"><i class="fa fa-file-text"></i></div><div class="col-9">Inventario</div></div></a>
        <a mat-list-item routerLink="descripcion"><div class="row"><div class="col-3"><i class="fa fa-edit"></i></div><div class="col-8">Descripcion</div></div></a>
        <a mat-list-item routerLink="compra"><div class="row"><div class="col-3"><i class="fa fa-shopping-cart"></i> </div><div class="col-9">Compras</div></div></a>
        <a mat-list-item routerLink="proveedor"><div class="row"><div class="col-3"><i class="fa fa-handshake-o"></i></div><div class="col-9">Proveedor</div></div></a>
        <a mat-list-item routerLink="rol">  <div class="row"><div class="col-4"><i class="fa fa-users"></i></div><div class="col-8">Roles</div></div></a>
        <a mat-list-item routerLink="ibeacoins">  <div class="row"><div class="col-3"><i class="fa fa-bluetooth"></i></div><div class="col-9">Ibeacoins</div></div></a>
        <a mat-list-item routerLink="display">  <div class="row"><div class="col-2"><i class="fa fa-cart-plus "></i></div><div class="col-10">Asig Ibeacoins a Tipo Producto</div></div></a>
        <a mat-list-item routerLink="persona">  <div class="row"><div class="col-3"><i class="fa fa-child"></i></div><div class="col-9">Persona</div></div></a>
        <a mat-list-item routerLink="cliente">  <div class="row"><div class="col-3"><i class="fa fa-user"></i></div><div class="col-9">Cliente</div></div></a>
        <a mat-list-item routerLink="usuario">  <div class="row"><div class="col-3"><i class="fa fa-vcard"></i> </div><div class="col-9">Usuario</div></div></a>
        <a mat-list-item routerLink="asignacion">  <div class="row"><div class="col-2"><i class="fa fa-user-plus"></i></div><div class="col-10">Asig de Usuario a Tienda</div></div></a>
        <a mat-list-item routerLink="horario">  <div class="row"><div class="col-3"><i class="fa fa-calendar-check-o"></i></div><div class="col-9">Horario</div></div></a>

      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>admin</span>
      <ng-container *ngIf="GetToken();">
        <div class="ml-auto">
          <mat-card-actions>
            <button mat-raised-button (click)="Logout()" class="btn-warning btn-block" type="submit">CERRAR SESION</button>
          </mat-card-actions>
        </div>
      </ng-container>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
