<form [formGroup]="Forms" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title >Cliente <i class="fa fa-user"></i> </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="!this.eliminar; else elseTemplate1">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Primer Nombre" formControlName="primernombre">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Segundo Nombre" formControlName="segundonombre">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Primer Apellido" formControlName="primerapellido">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Segundo Apellido" formControlName="segundoapellido">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Direccion" formControlName="direccion">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Nit" formControlName="nit">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="telefono" formControlName="telefono">
            </mat-form-field>
          </div>
        </div>

      </ng-container>
      <ng-template #elseTemplate1>
        <div class="row text-center">
          <div class="col">
            <strong>
              {{mensajeEliminar}}
            </strong>

          </div>
        </div>
      </ng-template>


    </mat-card-content>
    <ng-container *ngIf="this.cancelar; else elseTemplate">
      <div class="row">
        <div class="col-sm 6">
          <mat-card-actions>
            <button mat-raised-button color="primary" class="btn-block" type="submit">{{mensaje}}</button>
          </mat-card-actions>
        </div>
        <div class="col-sm-6">
          <mat-card-actions>
            <button mat-raised-button color="primary" class="btn-block" (click)="OnCancelar()" type="button">CANCELAR</button>
          </mat-card-actions>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="row">
        <div class="col-sm-12">
          <mat-card-actions>
            <button mat-raised-button color="primary" class="btn-block" type="submit">{{mensaje}}</button>
          </mat-card-actions>
        </div>
      </div>
    </ng-template>

    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>{{meessage}}</h1>
      </div>
    </div>
  </mat-card>
</form>
<br>
<ng-container *ngIf="OnCargar(); else elseTemplate2">
  <div class="mat-elevation-z8">
    <table mat-table class="full-width-table"  [dataSource]="dataSource" matSort aria-label="Elements">

      <ng-container matColumnDef="id_persona">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id_persona}}</td>
      </ng-container>

      <ng-container matColumnDef="primernombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Primer Nombre</th>
        <td mat-cell *matCellDef="let row">{{row.primernombre}}</td>
      </ng-container>

      <ng-container matColumnDef="segundonombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Segundo Nombre</th>
        <td mat-cell *matCellDef="let row">{{row.segundonombre}}</td>
      </ng-container>

      <ng-container matColumnDef="primerapellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Primer Apellido</th>
        <td mat-cell *matCellDef="let row">{{row.primerapellido}}</td>
      </ng-container>

      <ng-container matColumnDef="segundoapellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Segundo Apellido</th>
        <td mat-cell *matCellDef="let row">{{row.segundoapellido}}</td>
      </ng-container>

      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
        <td mat-cell *matCellDef="let row">{{row.usuario}}</td>
      </ng-container>

      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Direccion</th>
        <td mat-cell *matCellDef="let row">{{row.direccion}}</td>
      </ng-container>

      <ng-container matColumnDef="nit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nit</th>
        <td mat-cell *matCellDef="let row">{{row.nit}}</td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
        <td mat-cell *matCellDef="let row">{{row.telefono}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</ng-container>
<ng-template #elseTemplate2>
  <div class="row">
    <div class="col-sm-12">
      <center>
        <mat-spinner></mat-spinner>
      </center>
    </div>
  </div>
</ng-template>

